[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
redis = "*"
pymongo = "*"
pystalkd = "*"
pydantic = "*"
pytest = "*"
mock = "*"
pyyaml = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
